<!-- HTML Template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerebral Beach Hacks</title>
</head>
<body>
    <div style="max-width: 400px; margin: 40px auto; text-align: center; background-color: #f2f2f2; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <a href="http://192.168.55.35:5000/start" style="background-color: #3498db; color: #fff; border: none; padding: 15px 30px; font-size: 18px; font-weight: bold; cursor: pointer; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">Check PPE</a>
        <p style="color: #666; font-size: 14px; margin-top: 20px;">An AI-powered IoT robot that monitors for patient's safety and well-being.</p>
    </div>
</body>
</html>
